.statistic {
  padding-bottom: 30px;

  &__btns {
    display: flex;
    justify-content: start;
    width: 100%;
    margin-bottom: 20px;
  }

  .btn {
    margin-right: 20px;
  }
}

@media (max-width: 768px) {
  .statistic {
    width: 95%;
  }
}
